h1{
    color:white;
    background-color: rgb(102, 100, 100);
    font-size:1em;
    margin:0px;
    height:40px;
    padding-top:15px;
    padding-left:20px;
}

.span_body{
    margin:10px 50px 15px 20px;
}

.span_head{
    font-weight: bold;
}

h2{
    float:left;
    font-size:1em;
    background-color:rgb(177, 177, 177) ;
    height: 70px;
    width:100px;
    margin: 0px;
    text-align:center ;
    padding-top:30px;
}

div{
    height: 100px;
    margin: 0px;
    border-bottom-style: ridge;
}